.insights-section {
  width: 100%;
  padding: 90px 5%;
  text-align: center;
  background: linear-gradient(135deg, #f07651, #e96a43);
  color: #fff;
  padding-bottom: 100px;
}

.insights-title {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.insights-subtitle {
  font-size: 1.6rem;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.8);
}

.insights-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Set to display 5 equal-width cards in a row */
gap:5px;
  justify-content: center;
  max-width: 100%;
}

.flip-card {
  background: transparent;
  width: 300px; /* Ensure it takes full width of its column */
  height: 600px;
  perspective: 1000px;

}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.flip-card-front {
  background: white;
  color: #222;
}

.flip-card-back {
  background: #f2754f;
  color: #fff;
  transform: rotateY(180deg);
  padding: 20px;
  text-align: left;
}

.flip-card-back ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.flip-card-back li {
  font-size: 1.1rem;
  margin-bottom: 12px; /* Added more spacing between items */
  position: relative;
  padding-left: 20px; /* Added padding to create space for the bullet */
}

.flip-card-back li::before {
  content: "•"; /* Custom bullet point */
  font-size: 1.5rem;
  color: #f2754f; /* Same color as the back of the card */
  position: absolute;
  left: 0;
  top: 0;
}

.flip-card-back li:nth-child(odd) {
  color: #ffecd1; /* Light color for odd-numbered items */
}

.flip-card-back li:nth-child(even) {
  color: #ffffff; /* Standard color for even-numbered items */
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .insights-title {
    font-size: 2rem;
  }

  .insights-subtitle {
    font-size: 1rem;
  }

  .flip-card {
    width: 300px;
    height: 400px;
  }

  .insights-grid {
    grid-template-columns: repeat(1, 1fr); /* On smaller screens, display 2 cards per row */
  }
  .flip-card-back li {
    font-size: .8rem;
    margin-bottom: 12px; /* Added more spacing between items */
    position: relative;
    padding-left: 20px; /* Added padding to create space for the bullet */
  }
}
